html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: "Amatic SC", cursive;
}

body {
  background-color: #54a2b1;
  margin: 0;
}

#wrapper {
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  max-width: 1290px;
}

.wrapperBody {
  margin-top: 510px;
}
